{% extends 'base.html.twig' %}

{% block title %}Suppression confirmé{% endblock %}

{% block body %}


<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Compte supprimé</h1>
            <p class="card-text">Votre compte a été supprimé avec succès.</p>
            <p class="card-text">Nous sommes désolés de vous voir partir. Si vous avez des commentaires ou des questions, n'hésitez pas à nous contacter.</p>
        </div>
    </div>
</div>

{% endblock %}