{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">
 <section class="row">
            <div class="col-12 col-md-6 my-5">
                <h2>Explorez le monde de la réalité virtuelle</h2>
                <p>Que vous soyez un joueur passionné, un professionnel à la recherche d'équipements haut de gamme ou
                    simplement
                    curieux de découvrir cette technologie de pointe, nous avons ce qu'il vous faut.</p>
                <p>Nous sommes fiers de proposer une large sélection de casques VR, de contrôleurs, de capteurs de
                    mouvement
                    et
                    d'autres accessoires de qualité supérieure pour toutes les marques populaires, telles que Oculus,
                    HTC
                    Vive,
                    PlayStation VR, Samsung Gear VR et plus encore.</p>

            </div>
            <img class="col-12 col-md-6" src="https://images.pexels.com/photos/4009622/pexels-photo-4009622.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">


            <img class="col-12 col-md-6 my-5" src="https://images.unsplash.com/photo-1593508512255-86ab42a8e620?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1178&q=80"
                alt="">
            <div class="col-12 col-md-6 my-5 py-5">
                <p>Notre équipe d'experts en VR est là pour vous aider à choisir les produits qui correspondent le mieux
                    à
                    vos
                    besoins et à votre budget. Nous sommes passionnés par la réalité virtuelle et nous voulons partager
                    cette
                    passion avec vous. Nous sommes fiers de fournir un service client exceptionnel et de répondre à
                    toutes
                    vos
                    questions, qu'il s'agisse de problèmes techniques ou de conseils pour tirer le meilleur parti de
                    votre
                    équipement.</p>
            </div>

            <div class="col-12 col-md-6 my-5">
                <h2>La réalité virtuelle est l'avenir</h2>
                <p>Nous sommes convaincus que la réalité virtuelle est l'avenir du divertissement et de l'expérience
                    utilisateur. Nous sommes ravis de vous aider à faire partie de cette révolution technologique et de
                    vous
                    fournir les meilleurs produits de VR sur le marché. Parcourez notre site et n'hésitez pas à nous
                    contacter
                    si vous avez des questions ou si vous avez besoin d'aide pour choisir votre équipement VR idéal.</p>
            </div>
            <img class="col-12 col-md-6" src="https://images.pexels.com/photos/6498272/pexels-photo-6498272.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="">
        </section>
</div>
{% endblock %}
